body {
    padding: 3rem 14.5rem;
    padding-bottom: 0;
}

#paper {
    background-image: url("../svg/paper-lower.svg");
    margin: 0 auto;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-bottom: 3rem;
    width: 100%;
    height: fit-content;
    border-radius: 0px 0px 29px 20px;
}

#header-container {
    background: url("../svg/paper-header.svg");
    margin: 0 auto;
    padding: 3rem 6rem;
    padding-bottom: 2rem;
    width: 100%;
    height: fit-content;
    border-radius: 29px 29px 0px 0px
}

#container-row {
    display: block;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

.other-articles {
    line-height: 32px;
}

main {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-decoration: underline;
    padding-bottom: 32px;
    margin: 0px;
    font-weight: normal;
}

ul {
    list-style-type: "~ ";
    margin-top: 0px;
}

li {
    line-height: 32px;
}

a {
    color: #0729C8;
}

.jp-header {
    font-size: 50px;
    padding: 0;
    margin: -7px 0 0 0;
}

.jp-header+p {
    margin: -7px 0 0 0;
    padding: 0;
}

nav {
    font-size: 40px;
}

.content {
    margin-left: 10px;
}

article p {
    margin-bottom: 32px;
    font-size: 26px;
    letter-spacing: -0.06em;
}

article {
    margin-left: 10px;
    line-height: 32px;
}