body {
    padding: 3rem 14.5rem;
    padding-bottom: 0;
}

#paper {
    background-image: url("../svg/paper-lower.svg");
    margin: 0 auto;
    padding-right: 5rem;
    padding-left: 6.5rem;
    padding-bottom: 3rem;
    width: 100%;
    height: fit-content;
    border-radius: 0px 0px 29px 20px;
}

#header-container {
    background: url("../svg/paper-header.svg");
    margin: 0 auto;
    padding: 3rem 5rem 2rem 6.5rem;
    width: 100%;
    height: fit-content;
    border-radius: 29px 29px 0px 0px
}

#container-row {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
}

.other-articles {
    line-height: 32px;
}

main {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-decoration: underline;
    margin-top: 17px;
    margin-bottom: 20px;
    font-weight: normal;
}

#past-posts ul {
    padding-top: 4px;
    margin-top: 0;
    text-align: right;
    list-style: none;
    line-height: 32px;
    letter-spacing: -0.04em;
}

#past-posts li {
    margin: 0px 0;
}

#past-posts h1 {
    text-align: right;
}

#posts ul {
    list-style-type: "~ ";
}

#posts li {
    line-height: 32px;
}

a {
    color: #0729C8;
}

#featured-link {
    text-align: center;
    display: block;

    width: 100%;
    color: #0729C8;
}

.jp-header {
    font-size: 50px;
    padding: 0;
    margin: -7px 0 0 0;
}

.jp-header+p {
    margin: -7px 0 0 0;
    padding: 0;
}

nav {
    font-size: 40px;
}

.content {
    margin-left: 10px;
}