<!DOCTYPE html>
<html lang="en">

<head>
    $partial("templates/partials/metadata-shared.html")$

    <meta property="og:title" content="about jack dorland">
    <meta property="og:site_name" content="jackdor.land">
    <meta property="og:url" content="https://jackdor.land/blog.html">
    <meta property="og:description"
        content="personal blog with posts about, you guessed it, pens, pencils and politics!">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">

    <title>jack dorland - about</title>

    <link href="assets/stylesheets/default.css" rel="stylesheet">
    <link href="assets/stylesheets/about.css" rel="stylesheet">
</head>

<body>
    <div id="container-row">
        <div id="header-container">
            <div class="content">
                <header>
                    <div>
                        <p class="jp-header">ジャック・どろぁんど</p>
                        <p>jack "kai" dorland (he/they)</p>
                    </div>
                    <nav>
                        <a href="/">home</a> ~
                        <a href="/about.html">about</a> ~
                        <a href="/blog.html">blog</a>
                    </nav>
                </header>
            </div>
        </div>
        <div id="paper">
            <article id="post">
                <h1>who am i?</h1>
                <ul>
                    <li>Hey! I'm Jack, also known as Kai, and I'm a political science student turned <a
                            href="/blog.html">pen-and-pencil nerd</a>. You can often find me at numerous local
                        coffee
                        shops in the New Jersey / New York City area, with my favorite right now being <a
                            href="https://www.turnstilecoffee.com">Turnstile Coffee Roasters</a> in Belmar, New
                        Jersey.
                        Show them some love if you're in the area!</li>
                    <li>In my free time, I work on a longform journalistic research project called "With Whom We
                        Confuse Ourselves," an inside look into the youth's mental health crisis via interviews, poems,
                        expert
                        opinions, and analysis. I'm also a programmer specializing in Haskell and Rust
                        development - and
                        a lifelong Linux user.</li>
                    <li>I also enjoy playing a laundry list of video games. Presently, I'm regularly playing
                        Escape from
                        Tarkov, Splatoon 3, Rainbow Six: Siege and Apex Legends.</li>
                    <li>My current <strong>every day carry</strong> of writing utencils is comprised of: <ul>
                            <li>Esterbrook JR &LT;EF&GT; <i>"Pumpkin Latte"</i> filled with Diamine Macassar
                            </li>
                            <li>Rotring 800 in 0.5mm with <a href="/posts/2023-07-09-Rotring800TapeMod.html">a
                                    tape
                                    mod</a></li>
                            <li>Multiple Pentel Energel Infree pens in 0.5</li>
                            <li>Pentel Kerry P1037 in 0.7mm</li>
                            <li>Pilot FriXion Ball Knock Zone Wood Grip in 0.5mm</li>
                            <li>Pilot Kuru Toga mechanical pencil in 0.3</li>
                            <li>Pentel Ain lead ranging from 0.3 to 0.7 (2B)</li>
                        </ul>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</body>

</html>