<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Jack Dorland: aspiring law student, author, and researcher.">
  <title>Jack Dorland</title>

  <link href="assets/stylesheets/default.css" rel="stylesheet">
  <link href="assets/stylesheets/blog.css" rel="stylesheet">
</head>

<body>
  <div id="paper">
    <div class="content">
      <header>
        <div>
          <p class="jp-header">ジャック・どろぁんど</p>
          <p>jack "kai" dorland (he/they)</p>
        </div>
        <nav>
          <a href="/">home</a> ~
          <a href="/about.html">about</a> ~
          <a href="#">blog</a>
        </nav>
      </header>
      <section id="featured-link">
        <a href="" rel="external noopener noreferrer">Writing Utensil Rating Spreadsheet</a>
      </section>
      <main>
        <section id="posts">
          <h1>pens, pencils, &amp; politics</h1>
          $partial("templates/post-list.html")$
	</section>
        <aside id="past-posts">
          <h1>past posts</h1>
          <ul>
            <li>April 2023</li>
            <li>May 2023</li>
            <li>June 2023</li>
            <li>July 2023</li>
            <li>August 2023</li>
            <li>September 2023</li>
            <li>October 2023</li>
            <li>November 2023</li>
            <li>December 2023</li>
          </ul>
        </aside>
      </main>
    </div>
  </div>
</body>

</html>
