<!DOCTYPE html>
<html lang="en">

<head>
  $partial("templates/partials/metadata-shared.html")$

  <meta property="og:title" content="pens, pencils & politics">
  <meta property="og:site_name" content="jackdor.land">
  <meta property="og:url" content="https://jackdor.land/blog.html">
  <meta property="og:description" content="personal blog with posts about, you guessed it, pens, pencils and politics!">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">

  <title>jack dorland - blog</title>

  <link href="assets/stylesheets/default.css" rel="stylesheet">
  <link href="assets/stylesheets/blog.css" rel="stylesheet">
</head>

<body>
  <div id="paper">
    <div class="content">
      <header>
        <div>
          <p class="jp-header">ジャック・どろぁんど</p>
          <p>jack "kai" dorland (he/they)</p>
        </div>
        <nav>
          <a href="/">home</a> ~
          <a href="/about.html">about</a> ~
          <a href="#">blog</a>
        </nav>
      </header>
      <section id="featured-link">
        <a href="" rel="external noopener noreferrer">Writing Utensil Rating Spreadsheet</a>
      </section>
      <main>
        <section id="posts">
          <h1>pens, pencils, &amp; politics</h1>
          $partial("templates/partials/post-list.html")$
        </section>
        <aside id="past-posts">
          <h1>past posts</h1>
          <ul>
            <li>April 2023</li>
            <li>May 2023</li>
            <li>June 2023</li>
            <li>July 2023</li>
            <li>August 2023</li>
            <li>September 2023</li>
            <li>October 2023</li>
            <li>November 2023</li>
            <li>December 2023</li>
          </ul>
        </aside>
      </main>
    </div>
  </div>
</body>

</html>