<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Jack Dorland: aspiring law student, author, and researcher.">
  <title>Jack Dorland</title>

  <link href="../assets/stylesheets/default.css" rel="stylesheet">
  <link href="../assets/stylesheets/post.css" rel="stylesheet">
</head>

<body>
  <div id="paper">
    <header>
      <div>
        <p class="jp-header">ジャック・どろぁんど</p>
        <p>jack "kai" dorland (he/they)</p>
      </div>
      <nav>
        <a href="/">home</a> ~
        <a href="/about.html">about</a> ~
        <a href="/blog.html">blog</a>
      </nav>
    </header>
    <main>
      <article id="post">
	<h1>$title$</h1><br>
        <h3>$author$ ~ $date$</h3>
	$body$ 
      </article>
      <aside>
        <img id="polaroid" src="https://via.placeholder.com/300">
        <div class="other-articles">
          <h3>Other Articles</h3>
	

	</div>
      </aside>
    </main>
  </div>
</body>

</html>
