<!DOCTYPE html>
<html lang="en">

<head>
  $partial("templates/partials/metadata-shared.html")$

  <meta property="og:title" content="$title$">
  <meta property="og:site_name" content="jackdor.land">
  <meta property="og:url" content="$url$">
  <meta property="og:description" content="$teaser$">
  <meta property="og:type" content="article">
  <meta property="og:locale" content="en_US">

  <title>$title$</title>

  <link href="../assets/stylesheets/default.css" rel="stylesheet">
  <link href="../assets/stylesheets/post.css" rel="stylesheet">
</head>

<body>
  <div id="container-row">
    <div id="header-container">
      <header>
        <div>
          <p class="jp-header">ジャック・どろぁんど</p>
          <p>jack "kai" dorland (he/they)</p>
        </div>
        <nav>
          <a href="/">home</a> ~
          <a href="/about.html">about</a> ~
          <a href="/blog.html">blog</a>
        </nav>
      </header>
    </div>
    <div id="paper">
      <main>
        <article id="post">
          <h1>$title$</h1>
          <h3>$author$ ~ Posted $date$</h3>
          <span id="article">$body$ </span>
        </article>
        <aside>
          <img id="polaroid" src="/assets/images/posts/776CB88B-55FF-47B1-918D-37A866FF0D0A-2.jpg">
          <div class="other-articles">
            <h3>Other Articles</h3>
            $partial("templates/partials/other-posts.html")$

          </div>
        </aside>
      </main>
    </div>
  </div>

</body>

</html>